TZ=Europe/London

# Crafty
CRAFTY_WEB_UI_PORT=8443
LUCKPERMS_MYSQL_DATABASE=
LUCKPERMS_MYSQL_ROOT_PASSWORD=
LUCKPERMS_MYSQL_USER=
LUCKPERMS_MYSQL_PASSWORD=

PLAYIT_KEY=

#Nextcloud -    note config is only applied on first run, changes afterwards must be 
#               must be made to the internal config.php.
NEXTCLOUD_PORT=8080
NEXTCLOUD_MYSQL_DATABASE=
NEXTCLOUD_MYSQL_ROOT_PASSWORD=
NEXTCLOUD_MYSQL_USER=
NEXTCLOUD_MYSQL_PASSWORD=

NEXTCLOUD_DOMAIN=
NEXTCLOUD_TRUSTED_DOMAINS=