TZ=

# Crafty
LUCKPERMS_MYSQL_DATABASE=
LUCKPERMS_MYSQL_ROOT_PASSWORD=
LUCKPERMS_MYSQL_USER=
LUCKPERMS_MYSQL_PASSWORD=

PLAYIT_KEY=

#Nextcloud
NEXTCLOUD_MYSQL_DATABASE=
NEXTCLOUD_MYSQL_ROOT_PASSWORD=
NEXTCLOUD_MYSQL_USER=
NEXTCLOUD_MYSQL_PASSWORD=

#Only used on first run.
NEXTCLOUD_TRUSTED_DOMAINS=