# Secret Files
.env
**/.env

# Home Assistant Data
homeassistant/data/

# Nextcloud Data
nextcloud/data/
nextcloud/db/
nextcloud/config/

# Minecraft / Crafty Data
minecraft/crafty-data/
minecraft/luckperms-db/

# Media-Stack
media-stack/gluetun
media-stack/jellyfin
media-stack/media
media-stack/prowlarr
media-stack/qbittorrent
media-stack/radarr


**/backups/
**/logs/
**/*.db